[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.11"

[dev-packages]

[packages]
pelican = "*"
Markdown = "*"
markdown = "*"
lxml = "*"
beautifulsoup4 = "*"
