{% extends "base.html" %}

{% block title %}{{ article.title|striptags }} - {{ SITENAME }}{% endblock %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block meta %}
    {% if article.author %}
        <meta name="author" content="{{ article.author }}" />
    {% else %}
        <meta name="author" content="{{ AUTHOR }}" />
    {% endif %}
    {% if article.tags %}
        <meta name="keywords" content="{{ article.tags|join(',')|striptags }}" />
    {% endif %}
    {% if article.summary %}
        <meta name="description" content="{{ article.summary|striptags|escape }}" />
    {% endif %}
{% endblock %}

{% block canonical_rel %}
<link rel="canonical" href="{{ SITEURL }}/{{ article.url }}">
{% endblock %}

{% block collapse_latest %}in{% endblock %}

{% block content %}
<div class="content_container">
<div class="content">
<h1>{{ article.title }}</h1>
    <small>
    {% include "include/article_info.html" %}
    </small>
    </h1>
    {{ article.content }}
</div>
{% include 'include/toc.html' %}
</div>
{% endblock %}

