{% extends "base.html" %}
{% block title %}{{ category }} - {{ SITENAME }}{% endblock %}
{% block meta %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="keywords" content="{{ category }}" />
{% endblock %}
{% block collapse_categories %}in{% endblock %}

{% block content %}
<div class="content_container">
    <div class="content">
<h1 style="padding-bottom:20px;">The Salem Witchcraft Papers</h1>
<h2 style="padding-bottom:20px;">Verbatim Transcriptions of the Court Records <br> In
						three volumes.<br> Edited by Paul Boyer and Stephen Nissenbaum <br> Da
						Capo Press: New York, 1977.</h2>
<h4>Digital Edition<br> With Permission of Da Capo
						Press</h4>
<h4>
<i>Revised, corrected, and augmented <br> by Benjamin C. Ray and Tara S. Wood. </i>
</h4>
<h4>Digital Format, Scholars Lab., University of
						Virginia,2010<br> ©2003, Benjamin C.
					Ray and The Rector and Visitors of the University of Virginia </h4>
    </div>
    {% include 'include/toc.html' %}
</div>
{% endblock %}
