{% extends "base.html" %}
{% block title %}{{ SITENAME }}{% endblock %}

{% block canonical_rel %}
<link rel="canonical" href="{{ SITEURL }}">
{% endblock %}

{% block precontent %}

{% endblock %}

{% block content %}
<div id="primary">
<section id="documents-and-transcriptions">
    <img src="/theme/images/greendoc.gif" alt="">
    <h1><a href="/17docs.html">Documents &amp; Transcriptions</a></h1>
    <nav>
        <a href="/17docs.html">Court Records</a>
        <a href="/17docs.html">Record Books</a>
        <a href="/letters/">Personal Letters</a>
        <a href="/sermons/">Sermons</a>
        <a href="/diaries/">Diaries</a>
    </nav>
</section>
<section id="historical-maps">
    <img src="/theme/images/hmburg.gif" alt="">    
    <h1><a href="/maps.html">Historical Maps</a></h1>
    <nav>
        <a href="/maps/index.html">Map of Salem Village, 1692</a>
        <a href="/maps/andover.html">Map of Andover</a>
        <a href="/maps/salem.html">Map of Witchcraft</a>
        <a href="/maps/salem.html">Accusations</a>
        <a href="/maps.html">More...</a>
    </nav>
</section>
<section id="archival-collections">
    <img src="/theme/images/people4.gif" alt="">    
    <h1><a href="/archive2.html">Archival Collections</a></h1>
    <nav>
        <a href="#">Boston Public Library</a>
        <a href="#">Massachusetts Historical Society</a>
        <a href="#">Essex Institute Archive</a>
        <a href="#">More</a>
    </nav>
</section>
<section id="contemporary-books">
    <img src="/theme/images/lit2.gif" alt="">    
    <h1><a href="/books.html">Contemporary Books</a></h1>
    <nav>
        <a href="/archives/ModestEnquiry/index.html">John Hale</a>
        <a href="/speccol/mather/mather.html">Increase Mather</a>
        <a href="http://xtf.lib.virginia.edu/xtf/view?docId=modern_english/uvaGenText/tei/BurNarr.xml">George Lincoln Burr</a>
    </nav>
</section>
</div>
<div id="secondary">
    <h2>Project Information</h2>
    <nav>
        <a href="https://news.virginia.edu/content/uvas-help-salem-finally-discovers-where-its-witches-were-executed">Gallows Hill Research</a>
        <a href="/intro.html">Introduction</a>
        <a href="/overview.html">Overview</a>
        <a href="/generic.html">Images</a>
        <a href="/scholar.html">Media Reviews</a>
        <a href="/projectsupport.html">Project Support</a>
        <a href="/danvers2.html">Danvers, Mass</a>
        <a href="/press.html">Press Archive</a>
    </nav>
    <img src="/theme/images/quill.gif" alt="">
    <img src="/theme/images/back.gif" alt="">
    <h2>Published in Partnership</h2>
    <ul>
        <li><a href="http://scholarslab.org">Scholars' Lab of the University of Virginia Library</a></li>
        <li><a href="http://iath.virginia.edu">Institute for Advanced Technology in the Humanities</a></li>
    </ul>
</div>
{% endblock %}

