{% extends "include/article_list.html" %}
{% block title %}Documents related to {{ TAG_NAMES[tag] }} - {{ SITENAME }}{% endblock %}
{% block meta %}
    <meta name="keywords" content="{{ tag }}" />
{% endblock %}

{% block collapse_tags %}in{% endblock %}

{% block precontent %}
<div class="content_container">
    {% include 'include/category-options.html' %}
    <div class="search_content">
        <h1>Documents Related to {{ TAG_NAMES[tag] }}</h1>
         {% if tag in BIOS %}
            <div class="bios_link">
                <a href="/people/#{{ tag }}">Biographical entry for {{ TAG_NAMES[tag] }}</a>
            </div>
         {% endif %}
{% endblock %}

{% block postcontent %}
    </div>
</div>
{% endblock %}
