{% extends "include/article_list.html" %}
{% block title %}Case files referencing {{ TAG_NAMES[tag] }} - {{ SITENAME }}{% endblock %}
{% block meta %}
    <meta name="keywords" content="{{ tag }}" />
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

{% endblock %}

{% block collapse_tags %}in{% endblock %}

{% block precontent %}
<div class="content_container">
    {% include 'include/category-options.html' %}
    <div class="search_content" style="overflow:hidden;">
        <h1>Case files referencing {{ TAG_NAMES[tag] }}</h1>
         {% if tag in BIOS %}
            <div class="bios_link">
                <a href="/people/#{{ tag }}">Biographical entry for {{ TAG_NAMES[tag] }}</a>
            </div>
         {% endif %}
{% endblock %}

{% block content %}
        <div id="search">
            <div class="docs" id="search-list"></div>
            <div class="facets"><div class="facet"><ul id="case-list"></ul></div>
        </div>
{% endblock %}

{% block postcontent %}
    </div>
</div>

<script src="https://unpkg.com/lunr/lunr.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
    var filename = window.location.pathname.split('/').pop();
    var tagname = filename.split('.');
    tagname = tagname[0];
    var search = 'terms=_'+tagname;
</script>
<script src="/search/search.js" type="text/javascript"></script>

{% endblock %}
