<div class="post-info">
    <div class="case-link-block" style="display: none;">
        <a class="case-link" href="{{ SITEURL }}/{{ article.url }}">View Entire Case File</a>
    </div>
    <div class="publish-info-block">
        <small>
            {% if article.tags %}
            <span class="tags">
                <i class="fa fa-tags padding-small"></i>
            {% for tag in article.tags %}
                <a href="{{ SITEURL }}/{{ tag.url }}">{{ TAG_NAMES[tag] }}</a>{% if not loop.last %} / {% endif %}
            {% endfor %}
            </span>
            {% endif %}
        </small>
    </div>
</div><!-- /.post-info -->
