<h1 style="padding-bottom:20px;"> A BOOK OF RECORD OF THE SEVERALL PUBLIQUE TRANSACTIONS
						OF THE INHABITANTS<br> OF SALEM VILLAGE VULGARLY CALLED THE FARMES<br>
						1672-1713 </h1>
<h2 style="padding-bottom:20px;"> BEGINNING AT THE TIME WHEN THEY FIRST SAT UP THE MINISTRY
						AMONGST THEM BY<br> ORDER FROM THE GENERA A BOOK OF RECORD OF THE SEVERALL
						PUBLIQUE<br> TRANSACTIONS OF THE INHABITANTS OF SALEM VILLAGE VULGARLY
						CALLED THE<br> FARMES<br> L COURT OCTOBER THE 8TH ANNO DOMINI (1671/2)
					</h2>
