<h1 style="padding-bottom:20px;">The Salem Witchcraft Papers</h1>
<h2 style="padding-bottom:20px;">Verbatim Transcriptions of the Court Records <br> In
						three volumes.<br> Edited by Paul Boyer and Stephen Nissenbaum <br> Da
						Capo Press: New York, 1977.</h2>
<h4>Digital Edition<br> With Permission of Da Capo
						Press</h4>
<h4>
<i>Revised, corrected, and augmented <br> by Benjamin C. Ray and Tara S. Wood. </i>
</h4>
<h4>Digital Format by Scholars' Lab, University of
						Virginia Library<br> ©2018, Benjamin C.
					Ray and The Rector and Visitors of the University of Virginia </h4>

