<div class="toc nosearchhi">
    <h2>{{ CAT_NAMES[category] }}</h2>
    <ul>
    {% if articles and CAT_SORT[category]=="SLUG" %}
        {% for a in (articles_page.object_list|sort(attribute='slug') if articles_page else articles|sort(attribute='slug')) %}
            {% if (article and article.category==a.category) or not article %}
                <li><a href="{{ SITEURL }}/{{ a.url }}">{{ a.title }}</a></li>
            {% endif %}
        {% endfor %}
    {% elif articles and CAT_SORT[category]=="DATE" %}
        {% for a in (articles_page.object_list|sort(attribute='date', reverse = False) if articles_page else articles|sort(attribute='date', reverse = False)) %}
            {% if (article and article.category==a.category) or not article %}
                <li><a href="{{ SITEURL }}/{{ a.url }}">{{ a.title }}</a></li>
            {% endif %}
        {% endfor %}
    {% elif articles and CAT_SORT[category]=="DATEGROUP" %}
        {% if articles %}
            {% for year, year_articles in articles|groupby('date.year')|sort(reverse=False) %}
                {% for month, month_articles in year_articles|groupby('date.month')|sort(reverse=False) %}
                    <dl>
                    <dt><em>{{ month_articles[0].date.strftime('%Y, %B') }}</em></dt>
                    {% for article in month_articles %}
                    <dd>
                        <a href="{{ SITEURL }}/{{ article.url }}" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
                    </dd>
                    {% endfor %}
                    </dl>
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% elif articles%} {# Default title sort #}
         {% for a in (articles_page.object_list|sort(attribute='title') if articles_page else articles|sort(attribute='title')) %}
            {% if (article and article.category==a.category) or not article %}
                <li><a href="{{ SITEURL }}/{{ a.url }}">{{ a.title }}</a></li>
            {% endif %}
        {% endfor %}
     {% endif %}
    </ul>
</div>
